@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  font-family: "poppins", sans-serif; /*font google fonts Kanit (?)*/
  margin: 0;
  padding: 0;
}

/* NAVBAR */
.navbar_dashboard {
  display: flex;
  align-items: center;
  justify-content: space-around; /*aqui que muda as coisa do menu - nao sei como deixa o icon de perfil no final*/
  padding: 12px 40px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  gap: 15px;
  
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  color: #000;
}

.logo img {
  height: 28px;
}

/* Menu */
.menu_dashboard {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 30px;
}

/* Links do menu */
.menu_dashboard a {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  padding: 8px 14px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.menu_dashboard a:hover {
  background-color: #f5f5f5;
}

/* Link ativo */
.menu_dashboard a.active {
  background-color: #f5f5f5;
}

/* Ícones */
.menu_dashboard i {
  font-size: 16px;
}

/* Ícone de perfil */
.perfil i {
  display: flex;
  justify-content: end;
  font-size: 22px;
  color: #000;
  cursor: pointer;
}

/* Container principal so p delimitar as coisas __________________________________________________ */
.container_conteudo {
  margin: 10px 150px 0px 150px;
  padding: 20px;
  border: 0px solid black; /*isso vai sair dps - é so p ajudar com as margens*/
  height: auto;
}


/* conteudo das dash aqui *******************************************/

.selects_mina_sensor{
    display: flex;
    margin-top: 20px;
    gap: 15px;
}

#select_mina, #select_sensor{
    border-radius: 30px;
    background-color: #fff;
    color: #000;
    border: 1px solid black;
    box-shadow: 3px 3px 2px gray;
    height: 35px;
    width: 180px;
    
}

.secao_kpi{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.container_kpi{
    display: flex;
    flex-direction: row;
    justify-content: center; /*duvida se vale mais a pena usar center e gap 20px pq ai nao distorce a tela ...*/
    width: 100%; 
    align-items: stretch;
    gap: 20px;
   
}

.caixa_kpi{
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 2px gray;
    background-color: #fff;
    padding: 20px;
    width: 280px;
    height: 110px;
    
}

.dados{
    font-size: 32px;
    margin-top: 20px;
    color: #505050;
    font-weight: bold;
}

/*PARTE DOS GRAFICOS ******************************************/
.graficos{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
}

.titulo_grafico{
    font-weight: bold;
    color: #505050;
    font-size: 16px;
}
.primeira_linha, .segunda_linha{
    display: flex;
    flex-direction: row;
    justify-content: center; /*ficou meio inutil pq o canvas quebra*/
    width: 100%;
    align-items: stretch;
    gap: 20px; /*tive que usar gap de qualquer forma*/
}

.caixa_grafico{
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 2px gray;
    background-color: #fff;
    padding: 20px;
    width: 590px; /*ver se o canvas vai respeitar isso aqui -- nao respeita :)*/
    height: 320px;
}

canvas{
    width: 100%; /*100% em relação ao container q ele vai (caixa_grafico)*/
}

